{{ define "main" }}
    <h1>{{ .Title }}</h1>
    
    {{ partial "media/lastfm.html" . }}
    
    <h2 class="mt-10">reading list</h2>
    <p>{{ .Params.reading_description | default "i don't read a lot but i'm trying to, i hope i'll get to remove this comment soon" }}</p>
    
    {{ with .Site.Data.reading.years }}
        {{ $years := slice }}
        {{ range $year, $books := . }}
            {{ $years = $years | append (dict "year" $year "books" $books) }}
        {{ end }}
        {{ range sort $years "year" "desc" }}
            <div>
                <h3 class="text-lg font-semibold">{{ .year }}</h3>
                <ul class="list-disc list-inside text-sm">
                    {{ range .books }}
                        <li><em>{{ .title }}</em> by {{ .author }}</li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
        {{ end }}
{{ end }}

