<header class="sticky left-0 top-0 h-screen w-48">
  <nav class="p-4">
    <ul>
      <li class="mb-2"><a href="{{ "/" | relURL }}">caveli.us</a></li>
      <li class="mb-2"><a href="{{ "/now/" | relURL }}">now</a></li>
      <li class="mb-2"><a href="{{ "/projects/" | relURL }}">projects</a></li>
      <li class="mb-2"><a href="{{ "/blog/" | relURL }}">blog</a></li>
      <li class="mb-2"><a href="{{ "/media/" | relURL }}">media</a></li>
      <li class="mb-2"><a href="{{ "/about/" | relURL }}">about</a></li>
    </ul>
  </nav>
</header>
