<header class="sticky left-0 top-0 h-screen w-32 flex-shrink-0">
  <nav class="p-4 my-6 overflow-x-hidden">
    <div class="mb-2 truncate"><a href="{{ "/" | relURL }}">caveli.us</a></div>
    <div class="mb-2 truncate"><a href="{{ "/now/" | relURL }}">now</a></div>
    <div class="mb-2 truncate"><a href="{{ "/projects/" | relURL }}">projects</a></div>
    <div class="mb-2 truncate"><a href="{{ "/blog/" | relURL }}">blog</a></div>
    <div class="mb-2 truncate"><a href="{{ "/media/" | relURL }}">media</a></div>
    <div class="mb-2 truncate"><a href="{{ "/about/" | relURL }}">about</a></div>
    <div class="mb-2 truncate">
      <a href="https://webring.xxiivv.com/#cavelius">
        webring
        <img class="object-contain h-4 w-4 inline-block align-middle" src="https://webring.xxiivv.com/icon.black.svg"
          alt="XXIIVV webring" />
      </a>
    </div>
  </nav>
</header>
